$fw-400: 400;
$fw-700: 700;

$fs-12: 12px;
$fs-14: 14px;
$fs-15: 15px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-24: 24px;
$fs-25: 25px;
$fs-30: 30px;
$fs-38: 38px;

$primary-light: #4ba7ee;
$primary-main: #003970;
$primary-dark: #001841;
$text-main: #4e5156;
$black: #000000;
$white: #fff;
$red: #db171d;
$orange: #ffab48;
$yellow: #ffef63;

// Variables de colores que no están en el UI Kit
$new-blue: #105aa3;
$new-blue-2: #c9e3f9;
$new-blue-3: #326c96;
$new-blue-4: #001841;
$grey-light: #fafafa;
$grey-light-2: #f9f9f9;
$grey-medium: #e5e5e5;
$grey-dark: #9da2a9;
$grey-text: #616469;
