@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import "./assets/scss/index.scss";

body {
  margin: 0;
  @include font-style("RobotoRegular", $fw-400, $fs-16, $fs-16, $text-main);
}

.react-loading-skeleton {
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 30px;
  }
}
